stages:
  - build

variables:
  PYTHONHTTPSVERIFY: "0"
  # Force Nuitka to never ask questions
  NUITKA_assume_yes_for_downloads: "yes"
  # YOUR SPECIFIC PYTHON PATH
  PY_PATH: "C:/Users/himan/AppData/Local/Programs/Python/Python312/python.exe"

build_job:
  stage: build
  tags:
    - Windows-OwnLaptop

  before_script:
    - echo "Installing dependencies..."
    - '& $env:PY_PATH -m pip install -r requirements.txt --trusted-host pypi.org --trusted-host files.pythonhosted.org'

  script:
    - echo "Building Exe with Nuitka..."
    # UPDATED COMMAND: Added --disable-plugin=upx to avoid another potential prompt
    # and ensured --assume-yes-for-downloads is prominently placed.
    - '& $env:PY_PATH -m nuitka --standalone --assume-yes-for-downloads --onefile --enable-plugin=tk-inter --include-package-data=customtkinter --include-package=docx --include-package=PIL --windows-console-mode=disable --windows-icon-from-ico="app_icon.ico" --include-data-file="app_icon.ico=app_icon.ico" --output-filename="Click!.exe" "Click!.py"'

  artifacts:
    name: "Click_Tool_Build"
    paths:
      - "Click!.exe"
    expire_in: 1 week