stages:
  - build

variables:
  PYTHONHTTPSVERIFY: "0"
  NUITKA_assume_yes_for_downloads: "yes"
  # YOUR SPECIFIC PYTHON PATH (Forward slashes are safer in YAML)
  PY_PATH: "C:/Users/himan/AppData/Local/Programs/Python/Python312/python.exe"

build_job:
  stage: build
  tags:
    - Windows-OwnLaptop

  before_script:
    - echo "Installing dependencies..."
    # We use the full path variable '& $env:PY_PATH' to call python
    - '& $env:PY_PATH -m pip install -r requirements.txt --trusted-host pypi.org --trusted-host files.pythonhosted.org'

  script:
    - echo "Building Exe with Nuitka..."
    # Call Nuitka using the full python path
    - '& $env:PY_PATH -m nuitka --standalone --onefile --enable-plugin=tk-inter --include-package-data=customtkinter --include-package=docx --include-package=PIL --windows-console-mode=disable --windows-icon-from-ico="app_icon.ico" --include-data-file="app_icon.ico=app_icon.ico" --output-filename="Click!.exe" Click!.py'

  artifacts:
    name: "Click_Tool_Build"
    paths:
      - Click.exe
    expire_in: 1 week