stages:
  - build

variables:
  NUITKA_assume_yes_for_downloads: "yes"
  PYTHONHTTPSVERIFY: "0"

build_job:
  stage: build
  tags:
    - saas-windows-medium-amd64

  before_script:
    - 'echo "Step 1: Installing Python via Chocolatey..."'
    - 'choco install python --version=3.12.0 -y'
    # The quotes here are critical to hide the [ ] and : from the YAML parser
    - '$env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")'

    - 'echo "Step 2: Installing Python dependencies..."'
    - 'python -m pip install --upgrade pip'
    - 'python -m pip install -r requirements.txt --trusted-host pypi.org --trusted-host files.pythonhosted.org'

  script:
    - 'echo "Step 3: Building Exe with Nuitka..."'
    - 'python -m nuitka --standalone --assume-yes-for-downloads --onefile --enable-plugin=tk-inter --include-package-data=customtkinter --include-package=docx --include-package=PIL --windows-console-mode=disable --windows-icon-from-ico="app_icon.ico" --include-data-file="app_icon.ico=app_icon.ico" --output-filename="Click!.exe" "Click!.py"'

  artifacts:
    name: "SaaS_Build_Click_Tool"
    paths:
      - "Click!.exe"
    expire_in: 1 week