stages:
  - build

build_job:
  stage: build
  tags:
    - saas-windows-medium-amd64
  script:
    - "echo 'Step 1: Downgrading Python to 3.12.0...'"
    - "choco install python --version=3.12.0 -y --allow-downgrade --no-progress"

    - "echo 'Step 2: Updating Path...'"
    - "$env:Path = [System.Environment]::GetEnvironmentVariable('Path','Machine') + ';' + [System.Environment]::GetEnvironmentVariable('Path','User')"

    - "echo 'Step 3: Installing Nuitka...'"
    - "python -m pip install --upgrade pip"
    - "python -m pip install nuitka"

    - "echo 'Step 4: Running Nuitka Build...'"
    # Wrapped filename in double quotes to handle the '!' character
    - 'python -m nuitka --standalone --onefile --windows-disable-console "Click!.py"'

  artifacts:
    paths:
      - "Click!.exe"
    expire_in: 1 week