name: Click!

on:
  workflow_dispatch: # Manual trigger

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Build Standalone Executable
        # We use double quotes for the paths to handle the "!" and spaces safely
        run: |
          python -m nuitka --standalone --onefile --windows-console-mode=disable `
          --enable-plugin=tk-inter --include-package=customtkinter `
          --jobs=2 --low-memory `
          --windows-icon-from-ico="src/assets/app_icon.ico" `
          --include-data-file="src/assets/app_icon.ico=src/assets/app_icon.ico" `
          --onefile-tempdir-spec="%TEMP%/Click_Tool_%PID%" `
          --windows-company-name="Himansu Kumar" `
          --windows-product-name="Click! Screenshot Tool" `
          --windows-file-description="Professional Screenshot Automation Utility" `
          "src/main.py"
          
          ren main.exe "Click!.exe"

      - name: Upload Pack
        uses: actions/upload-artifact@v4
        with:
          name: "Click!"
          # Quoting these paths prevents YAML from misinterpreting the "!"
          path: |
            "Click!.exe"
            "LICENSE.md"
            "README.md"
            "Click! - Guide.pdf"